.boxed {
  border:1px solid white;
  width: 178.5px;
  height:260px;
  float: left;
  padding: 5px;
  box-shadow: 0px 8px 16px grey;
  margin:15px;
  /* position:fixed; */
}
.boxed :hover{
  box-shadow: 0px 8px 16px darkslategray;
}

.productsheader{

  /* border: 2px solid green ; */
  position:fixed;
  width: 70%;
  height:auto;
  top:16%;
  left:15.5%;
  padding: 1px;
  margin:3px;
  box-shadow: 0px 8px 16px darkslategrey;
  /* clear: both; */
  /* z-index: 1; */
}
.productsboxed {
  position:fixed;
  width: 70%;
  height:90%;
  margin: 15px;
  background-color: white;
  box-shadow: 0px 8px 16px darkslategrey;
  top:24%;
  left:15%;
  overflow: auto;
}
.position{

  position: relative;
  display: inline-block;
}

.selectoptions{

  float :right;
  padding: 16px;
  font-size: 16px;
}
h5{
  float:left
}
select{
  float:right;
  padding: 8px
}

.loader {
  position: absolute;
  left: 45%;
  top: 45%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.loaderData{
  position: absolute;
  left: 40%;
  top: 45%;

}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
