.cart{

   overflow:auto
 }

.cartImage{
   float: left;
   margin:12px;
   width:50px;

 }
 .dropbtn {
    /*Add image of cart  */
     color: white;
     padding: 16px;
     font-size: 16px;
     border: none;
     width: 90px;
 }

 .dropdown {
     position: relative;
     display: inline-block;
 }
 .dropdown-content {
     display: none;
     position: absolute;
     right:5%;
     background-color: #f1f1f1;
     min-width: 320px;
     max-height: 320px;
     overflow: auto;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
 }
 .dropdown:hover .dropdown-content {
     display: block;
 }
 .dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.dropdown-content li:hover {background-color:yellow}
