.cart{

   overflow:auto
 }

.cartImage{
   float: left;
   margin:12px;
   width:50px;

 }
 .cartIcon{
   width:40px;
   float: left;


 }
 .clearCart{
   position:absolute;
   top:3%;
   right:1%;
 }
 .dropbtn {
    /*Add image of cart  */
    /* background-image: url(./images/cartimage.jpg);  */
     color: white;
     padding: 16px;
     font-size: 16px;
     border: none;
     width: 110px;
 }

 .dropdown {
     position: relative;
     display: inline-block;
 }
 .dropdown-content {
     display: none;
     position: absolute;
     right:5%;

     background-color: #f1f1f1;
     min-width: 470px;
     max-height: 280px;
     overflow: auto;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
 }
 .dropdown:hover .dropdown-content {
     display: block;
 }
 .dropdown:hover .dropbtn {
    background-color: #3e8e41;

}
.dropdown-content li:hover {background-color:yellow}
