.productboxed {
  border: 2px solid green ;
  width: 59.6%;
  height:auto;
  float: left;
  padding: 5px;
}
.productheader{

  border: 2px solid green ;
  width: 100%;
  height:auto;
  float: left;
  padding: 1px;
}
.position{

  position: relative;
  display: inline-block;
}

.selectoptions{

  float :right;
  padding: 16px;
  font-size: 16px;
}
h5{
  float:left
}
select{
  float:right;
  padding: 8px
}
